/distribution/.settings/org.eclipse.core.resources.prefs
/distribution/test.py
/distribution/plugins.properties.bck
/distribution/application.properties.bck

/plugins/internationalization/test/internationalization/core/impl/repo/
/distribution/workspace/
/distribution/components
/distribution/plugins

*.pyo
*.pyc
*.properties
*.properties.bak

.project
.pydevproject
/.metadata/

/superdesk/
